<form id="fcc_form" method="post" action="." autocomplete="off">
    <div class="row">
        <div class="span4">
            <fieldset>
                <legend>Purchase information</legend>
                <label class="control-label" for="station_callsign">Station Callsign</label>
                <input name="station_callsign" class="input-small" type="text" placeholder="XXXX" required value="{{station.callsign}}">
                <label class="checkbox" for="purchase_approved">
                    <input name="purchase_approved" type="checkbox" value="purchase_approved" {{#purchase.is_approved}}checked{{/purchase.is_approved}}> Was the request to purchase broadcast time accepted?
                </label>
                <label class="control-label" for="contract_amount">Total Amount</label>
                <div class="input-prepend">
                    <span class="add-on">$</span>
                    <input name="contract_amount" class="input-small" type="number" placeholder="0000.00" required value="{{contract.amount}}">
                </div>
                <span class="help-block">The total amount charged for the broadcast time.</span>
            </fieldset>
            <fieldset>
                <legend>Ad purchaser</legend>
                <label class="control-label" for="advertiser_name">Ad purchaser</label>
                <input name="advertiser_name" class="span4" type="text" placeholder="Name of person/organization" required value="{{advertiser.name}}">
                <label class="control-label" for="advertiser_contact_name">Contact name</label>
                <input name="advertiser_contact_name" class="span4" type="text" placeholder="Name of contact person for ad purchaser" required value="{{advertiser.contact.name}}">
                <label class="control-label" for="advertiser_contact_address">Contact address</label>
                <textarea name="advertiser_contact_address" class="span4" rows="3" placeholder="227 Madeupp Boulevard, Suite 2121, Washington, D.C. 20009" required>{{advertiser.contact.address}}</textarea>
                <label class="control-label" for="advertiser_contact_phone">Contact phone number</label>
                <input name="advertiser_contact_phone" class="span4" type="tel" placeholder="XXX-XXX-XXXX ext. 2121" required value="{{advertiser.contact.phone}}">
            </fieldset>
        </div>
        <div class="span4 offset1">
            <fieldset>
                <legend>Subject of ad:<br>Candidate, Issue, or&nbsp;Election</legend>
                <label class="control-label" for="advertisement_subject">Advertisement subject</label>
                <select name="advertisement_subject" id="advertisement_subject" required>
                    <option value=""> ------------ </option>
                    <option value="candidate">Candidate</option>
                    <option value="issue">Issue</option>
                    <option value="election">Election</option>
                </select>
                <label class="control-label" for="subject_name">Subject name or description</label>
                <input name="subject_name" class="span4" type="text" placeholder="Enter candidate, issue, or election name" required value="{{subject.name}}">
                <input type="hidden" name="subject_fec_id" value="{{subject.fec_id}}">
                <span class="help-block">The name of the candidate and office, the election, or the issue to which the communication refers.</span>
                <div id="form_candidate_extras" class="hidden">
                    <label class="control-label" for="office_sought">Office sought</label>
                    <input name="office_sought" class="span4" type="text" placeholder="Enter office sought" value="{{subject.office_sought}}">
                    <label class="checkbox" for="by_candidate">
                        <input name="by_candidate" type="checkbox" value="by_candidate" {{#advertisement.is_by_candidate}}checked="checked"{{/advertisement.is_by_candidate}}>
                        By, or on behalf of, a candidate?
                    </label>
                </div>
                <div id="form_committee_details" class="hidden">
                    <label class="control-label" for="committee_name">Committee of the candidate</label>
                    <input id="committee_name" name="committee_name" class="span4" type="text" placeholder="Enter the candidate's committee name" value="{{committee.name}}">
                    <label class="control-label" for="committee_treasurer">Committee Treasurer</label>
                    <input name="committee_treasurer" class="span4" type="text" placeholder="Enter name of the committee's treasurer" value="{{committee.treasurer}}">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <button class="btn btn-sunlight" type="submit" value="Submit">Submit</button>
            <button class="btn" id="fakereset" value="Reset">Reset</button>
        </div>
    </div>
</form>
